<%- if controller_name != 'sessions' %>
  <div class="mb-2">
    <%= link_to "Log in", new_session_path(resource_name), class: "text-teal-400 hover:text-teal-300 hover:underline transition-all duration-200" %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="mb-2">
    <%= link_to "Sign up", new_registration_path(resource_name), class: "text-teal-400 hover:text-teal-300 hover:underline transition-all duration-200" %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="mb-2">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-teal-400 hover:text-teal-300 hover:underline transition-all duration-200" %>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="mb-2">
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-teal-400 hover:text-teal-300 hover:underline transition-all duration-200" %>
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="mb-2">
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "text-teal-400 hover:text-teal-300 hover:underline transition-all duration-200" %>
  </div>
<% end %>

<% if devise_mapping.omniauthable? %>
  <div class="oauth-buttons">
    <%= button_to omniauth_authorize_path(resource_name, :google_oauth2), method: :post, data: { turbo: false }, class: "oauth-btn google-btn" do %>
      <span class="icon">
        <img src="<%= asset_path('google-logo.png') %>" alt="GitLab Logo" class="h-6 w-6">
      </span>
      <span class="text">Sign in with Google</span>
    <% end %>

    <%= button_to omniauth_authorize_path(resource_name, :github), method: :post, data: { turbo: false }, class: "oauth-btn github-btn" do %>
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 0C5.37 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.387.6.111.82-.261.82-.578 0-.286-.011-1.044-.017-2.049-3.338.726-4.042-1.608-4.042-1.608-.546-1.389-1.333-1.76-1.333-1.76-1.09-.745.083-.73.083-.73 1.205.084 1.84 1.238 1.84 1.238 1.071 1.835 2.81 1.305 3.495.998.108-.775.418-1.305.76-1.605-2.666-.303-5.467-1.334-5.467-5.93 0-1.31.468-2.381 1.235-3.222-.124-.303-.536-1.523.116-3.176 0 0 1.008-.323 3.3 1.233A11.49 11.49 0 0112 5.84c1.023.004 2.053.138 3.015.404 2.292-1.556 3.298-1.233 3.298-1.233.652 1.653.24 2.873.118 3.176.77.84 1.234 1.912 1.234 3.222 0 4.608-2.803 5.624-5.475 5.921.43.37.812 1.102.812 2.222 0 1.604-.015 2.897-.015 3.293 0 .319.218.694.825.576C20.565 21.797 24 17.298 24 12c0-6.627-5.373-12-12-12z"/>
        </svg>
      </span>
      <span class="text">Sign in with GitHub</span>
    <% end %>

    <%= button_to omniauth_authorize_path(resource_name, :gitlab), method: :post, data: { turbo: false }, class: "oauth-btn gitlab-btn" do %>
      <span class="icon">
        <img src="<%= asset_path('gitlab-logo.png') %>" alt="GitLab Logo" class="h-6 w-6">
      </span>
      <span class="text">Sign in with GitLab</span>
    <% end %>
  </div>
<% end %>
