<!-- app/views/users/complete_profile.html.erb -->
<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold text-white mb-6">Complete Your Profile</h1>

  <%= form_for @user, url: update_profile_path(@user), method: :patch, html: { multipart: true, class: 'bg-gray-800 p-6 rounded-lg shadow-lg' } do |f| %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="field">
        <%= f.label :first_name, class: "block text-gray-300 mb-2" %>
        <span class="text-red-500">*</span> <!-- Aggiunto l'asterisco rosso -->
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "w-full p-2 rounded bg-gray-700 text-white border border-gray-600 focus:ring focus:ring-teal-400" %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: "block text-gray-300 mb-2" %>
        <span class="text-red-500">*</span> <!-- Aggiunto l'asterisco rosso -->
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "w-full p-2 rounded bg-gray-700 text-white border border-gray-600 focus:ring focus:ring-teal-400" %>
      </div>

      <div class="field">
        <%= f.label :nickname, class: "block text-gray-300 mb-2" %>
        <span class="text-red-500">*</span> <!-- Aggiunto l'asterisco rosso -->
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "w-full p-2 rounded bg-gray-700 text-white border border-gray-600 focus:ring focus:ring-teal-400" %>
      </div>

      <div class="field">
        <%= f.label :phone_number, class: "block text-gray-300 mb-2" %>
        <%= f.telephone_field :phone_number, class: "w-full p-2 rounded bg-gray-700 text-white border border-gray-600 focus:ring focus:ring-teal-400" %>
      </div>

      <div class="field flex items-center">
        <%= f.label :otp_enabled, class: "text-gray-300 mb-2" %>
        <%= f.check_box :otp_enabled, class: "ml-2 h-5 w-5 text-teal-400 border-gray-600 focus:ring focus:ring-teal-400" %>
      </div>

      <div class="field">
        <%= f.label :profile_image, "Profile Image", class: "block text-gray-300 mb-2" %>
        <% if @user.profile_image.attached? %>
          <div class="image-preview mb-4">
            <%= image_tag @user.profile_image.variant(resize_to_limit: [100, 100]), class: "rounded-full border border-gray-600" %>
          </div>
          <div class="flex items-center">
            <%= f.label :remove_profile_image, "Remove Image", class: "text-gray-300" %>
            <%= f.check_box :remove_profile_image, class: "ml-2 h-5 w-5 text-teal-400 border-gray-600 focus:ring focus:ring-teal-400" %>
          </div>
        <% end %>
        <%= f.file_field :profile_image, class: "mt-4 block w-full text-white border border-gray-600 rounded bg-gray-700 cursor-pointer focus:outline-none focus:ring focus:ring-teal-400" %>
      </div>
    </div>

    <div class="actions mt-6">
      <%= f.submit "Update Profile", class: "bg-teal-500 text-white py-2 px-4 rounded-lg hover:bg-teal-400 transition ease-in-out duration-300" %>
    </div>
  <% end %>

  <div class="mt-6">
    <%= link_to 'Back to Dashboard', authenticated_root_path, class: 'bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-500 transition ease-in-out duration-300' %>
  </div>
</div>
