<h1>Edit Profile</h1>

<%= form_for(current_user, url: profile_path, method: :patch) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :otp_enabled %><br />
    <%= f.check_box :otp_enabled %>
  </div>

  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>

<%= link_to 'Back to Dashboard', authenticated_root_path %>
