<h1>Leave Feedback for <%= @user.first_name %> <%= @user.last_name %></h1>

<%= form_with model: [@user, @feedback], url: create_feedback_user_path(@user), local: true do |form| %>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <%= form.submit 'Submit Feedback', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Profile', user_path(@user) %>
