<!-- app/views/users/my_snippets.html.erb -->

<h1>My Snippets</h1>

<!-- Link per creare un nuovo Snippet -->
<%= link_to 'Create New Snippet', new_snippet_path, class: 'btn btn-primary mb-3' %>

<!-- Link per visualizzare le bozze -->
<%= link_to 'View Drafts', drafts_snippets_path, class: 'btn btn-secondary mb-3' %>

<!-- Dropdown menu for sorting -->
<div class="dropdown mb-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Sort by
  </button>
  <ul class="dropdown-menu" aria-labelledby="sortMenu">
    <li><%= link_to 'Most Recent', my_snippets_path(order_by: 'most_recent'), class: 'dropdown-item' %></li>
    <li><%= link_to 'Least Recent', my_snippets_path(order_by: 'least_recent'), class: 'dropdown-item' %></li>
    <li><%= link_to 'Favorites', my_snippets_path(order_by: 'favorites'), class: 'dropdown-item' %></li>
  </ul>
</div>

<!-- Dropdown menu for languages -->
<div class="dropdown mb-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="languageMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Filter by Language
  </button>
  <ul class="dropdown-menu" aria-labelledby="languageMenu">
    <% if @languages.present? %>
      <% @languages.each do |language| %>
        <li><%= link_to language.capitalize, my_snippets_path(language: language), class: 'dropdown-item' %></li>
      <% end %>
    <% end %>
    <li><%= link_to 'Other', my_snippets_path(language: 'other'), class: 'dropdown-item' %></li>
  </ul>
</div>

<ul>
  <% @snippets.each do |snippet| %>
    <% if !snippet.draft %> <!-- Aggiungi questa condizione per escludere le bozze -->
      <li>
        <%= link_to snippet.title, snippet_path(snippet) %>
        <%= link_to snippet.favorite ? '★' : '☆', toggle_favorite_snippet_path(snippet), method: :post, remote: true, class: "toggle-favorite" %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Back to My Profile', profile_path, class: 'btn btn-secondary' %>
