<div class="user-profile-page">
  <div class="user-profile-container">
    <div class="user-profile-header">
      <h1 class="user-profile-title"><%= @user.nickname %>'s Profile</h1>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image.variant(resize: '200x200'), class: "user-profile-image" %>
      <% elsif @user.profile_image_url.present? %>
        <%= image_tag @user.profile_image_url, size: '200x200', class: "user-profile-image" %>
      <% end %>
    </div>

    <div class="user-profile-info">
      <p><strong>First name:</strong> <%= @user.first_name %></p>
      <p><strong>Last name:</strong> <%= @user.last_name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Phone number:</strong> <%= @user.phone_number %></p>
      <p><strong>Number of Snippets:</strong> <%= @user.snippets.count %></p>
      <p><strong>Number of Projects:</strong> <%= @user.projects.count %></p>
      <p><strong>Number of Followers:</strong> <%= @user.followers.count %></p>
      <p><strong>Number of Following:</strong> <%= @user.following.count %></p>
    </div>

    <% if user_signed_in? %>
      <div class="user-profile-buttons">
        <%= button_to 'Unfollow', unfollow_user_path(@user), method: :delete, remote: true, class: 'btn btn-danger' %>
        <%= link_to 'Leave Feedback', leave_feedback_user_path(@user), class: 'btn btn-secondary' %>
        <% if current_user != @user %>
          <%= link_to 'Avvia Chat', create_direct_conversations_path(recipient_id: @user.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>

    <div class="user-profile-snippets">
      <h2 class="user-profile-subtitle">Snippets</h2>
      <% if @user.snippets.any? %>
        <ul>
          <% @user.snippets.each do |snippet| %>
            <li class="mb-2">
              <%= link_to snippet.title, community_activity_path(snippet), class: "btn btn-info" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No snippets available.</p>
      <% end %>
    </div>

    <div class="user-profile-projects">
      <h2 class="user-profile-subtitle">Projects</h2>
      <% if @user.projects.any? %>
        <ul>
          <% @user.projects.each do |project| %>
            <li class="mb-2">
              <%= link_to project.title, project_path(project), class: "text-teal-400 hover:text-teal-300" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No projects available.</p>
      <% end %>
    </div>

    <div class="user-back-link">
      <%= link_to 'Back to Community Snippets', community_activity_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
