<div class="profile-container">
  <div class="profile-header">
    <%= image_tag @user.profile_image_url || @user.profile_image, class: "rounded-full w-32 h-32" %>
    <h1><%= @user.nickname %>'s Profile</h1>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><%= @user.email %></p>
  </div>

  <div class="profile-info">
    <h2>Profile Information</h2>
    <p><strong>First Name:</strong> <%= @user.first_name %></p>
    <p><strong>Last Name:</strong> <%= @user.last_name %></p>
    <p><strong>Phone Number:</strong> <%= @user.phone_number %></p>
  </div>

  <div class="profile-buttons">
    <%= link_to 'Edit Profile', edit_profile_path, class: "bg-teal-500 text-white" %>
    <%= link_to 'Back to Dashboard', authenticated_root_path, class: "bg-purple-600 text-white" %>
    <%= link_to 'My Snippets', my_snippets_path, class: "bg-teal-500 text-white" %>
    <%= link_to 'My Favorite Snippets', favorite_snippets_path, class: "bg-purple-600 text-white" %>
  </div>

  <div class="profile-feedback">
    <h2>Feedback on My Profile</h2>
    <p>No feedback on your profile yet.</p>
  </div>

  <div class="profile-followers-following">
    <div>
      <h2>Followers</h2>
      <p><strong>Number of Followers:</strong> <%= @followers_count %></p>
      <%= link_to 'View Followers', user_followers_path(@user), class: 'bg-teal-500 text-white' %>
    </div>
    <div>
      <h2>Following</h2>
      <p><strong>Number of Following:</strong> <%= @following_count %></p>
      <%= link_to 'View Following', user_following_path(@user), class: 'bg-teal-500 text-white' %>
    </div>
  </div>

  <h3>Badges</h3>
  <div class="badge-container">
    <% @user.badges.each do |badge| %>
      <div class="badge">
        <img src="<%= badge.icon_url %>" alt="<%= badge.name %>">
        <p><%= badge.name %></p>
      </div>
    <% end %>
  </div>
</div>
