<h1>My Profile</h1>

<p>
  <strong>First name:</strong>
  <%= current_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= current_user.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= current_user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= current_user.phone_number %>
</p>

<% if current_user.profile_image.attached? %>
  <p>
    <strong>Profile Image:</strong><br />
    <%= image_tag current_user.profile_image.variant(resize: '200x200') %>
  </p>
<% elsif current_user.profile_image_url.present? %>
  <p>
    <strong>Profile Image:</strong><br />
    <%= image_tag current_user.profile_image_url, size: '200x200' %>
  </p>
<% end %>

<!-- Link to My Snippets -->
<%= link_to 'My Snippets', my_snippets_path, class: "btn btn-primary" %>

<!-- Link to My Favorite Snippets -->
<%= link_to 'My Favorite Snippets', favorite_snippets_path, class: "btn btn-primary" %>

<%= link_to 'Edit Profile', edit_profile_path %>
<%= link_to 'Back to Dashboard', authenticated_root_path, class: 'back-link' %>
