<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :visibility, 'Visibility' %>
    <%= f.select :visibility, [['Public', 'public'], ['Private', 'private']] %>
  </div>

  <div class="field">
    <%= label_tag :collaborator_emails, 'Collaborators (emails separated by commas)' %>
    <%= text_field_tag :collaborator_emails, params[:collaborator_emails], placeholder: 'Enter collaborator emails' %>
  </div>

  <h3>Files</h3>
  <%= f.fields_for :project_files do |ff| %>
    <%= render 'project_file_fields', f: ff %>
  <% end %>
  <%= link_to_add_fields "Add File", f, :project_files %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
