<%= form_for @project, html: { class: 'form-container' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="error-messages">
      <h2><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%= f.label :title, 'Title', class: 'form-label' %>
    <%= f.text_field :title, class: 'form-input' %>
  </div>

  <div class="field-group">
    <%= f.label :description, 'Description', class: 'form-label' %>
    <%= f.text_area :description, class: 'form-textarea' %>
  </div>

  <div class="field-group">
    <%= f.label :visibility, 'Visibility', class: 'form-label' %>
    <%= f.select :visibility, [['Public', 'public'], ['Private', 'private']], {}, class: 'form-select' %>
  </div>

  <div class="field-group">
    <%= label_tag :collaborator_emails, 'Collaborators (emails separated by commas)', class: 'form-label' %>
    <%= text_field_tag :collaborator_emails, params[:collaborator_emails], placeholder: 'Enter collaborator emails', class: 'form-input' %>
  </div>

  <div class="field-group">
    <%= f.label :collaborator_permissions, 'Permissions', class: 'form-label' %>
    <%= select_tag :collaborator_permissions, options_for_select([['Full', 'full'], ['Partial', 'partial']]), class: 'form-select' %>
  </div>

  <div class="actions">
    <%= f.submit "Create Project", class: 'btn btn-primary' %>
  </div>
<% end %>
