<h1>Edit Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Back to Projects', projects_path, class: "btn btn-primary" %>

<hr>

<h2>Delete Project</h2>
<p>To confirm, type "<%= @project.user.nickname %>/<%= @project.title %>" in the box below:</p>
<%= form_with(model: @project, url: project_path(@project), method: :delete, local: true) do |f| %>
  <div>
    <%= f.label :confirmation, "Confirmation" %>
    <%= text_field_tag :confirmation, nil, placeholder: "#{@project.user.nickname}/#{@project.title}" %>
  </div>
  <div>
    <%= f.submit "Delete Project", class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this project?" } %>
  </div>
<% end %>

<%= javascript_pack_tag 'edit_project' %>
