<h1><%= @project.title %></h1>
<p><strong>Author:</strong> <%= @project.user.email %></p>

<div id="favorite-button">
  <% if current_user.favorites.exists?(project: @project) %>
    <%= button_to 'Remove from Favorites', toggle_favorite_project_path(@project), method: :post, remote: true, class: "btn btn-danger" %>
  <% else %>
    <%= button_to 'Add to Favorites', toggle_favorite_project_path(@project), method: :post, remote: true, class: "btn btn-primary" %>
  <% end %>
</div>

<p><strong>Description:</strong> <%= @project.description %></p>

<h3>Files:</h3>
<ul>
  <% @project.project_files.each do |file| %>
    <li><%= link_to file.file_identifier, download_file_path(@project, file) %></li>
  <% end %>
</ul>

<%= link_to 'Back', projects_path, class: 'btn btn-secondary' %>
