<!-- app/views/projects/show.html.erb -->

<p id="notice"><%= notice %></p>

<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<h2>Files</h2>
<ul>
  <% @project.files.each do |file| %>
    <li><%= link_to file.filename.to_s, rails_blob_path(file, disposition: "attachment") %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning" %> |
<%= link_to 'Back', projects_path, class: "btn btn-secondary" %> |
<%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
