<div class="container mx-auto p-6">
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-semibold text-white mb-4"><%= @file.file_identifier %></h1>

    <div class="bg-gray-900 p-4 rounded-lg mb-6">
      <pre class="text-gray-300 leading-relaxed whitespace-pre-wrap"><%= @file_content %></pre>
    </div>

    <div class="flex justify-between">
      <%= link_to 'Edit File', edit_file_project_path(@project, @file), class: "bg-teal-600 text-white py-2 px-4 rounded-lg hover:bg-teal-500 transition ease-in-out duration-300", data: { turbolinks: false } %>
      <%= link_to 'Back to Project', project_path(@project), class: "bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-500 transition ease-in-out duration-300" %>
    </div>
  </div>

  <input type="hidden" id="file-content" value="<%= @file_content %>">
</div>
