<h1><%= @project.title %></h1>

<p><%= @project.description %></p>

<h3>Files</h3>
<ul>
  <% @project.project_files.each do |file| %>
    <li>
      <%= link_to file.file_identifier, show_file_project_path(@project, file_id: file.id) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-secondary" %>
<%= link_to 'Back to Projects', projects_path, class: "btn btn-primary" %>
