<!-- app/views/projects/show.html.erb -->
<h1><%= @project.title %></h1>

<p><%= @project.description %></p>

<div id="favorite-button">
  <%= render partial: 'projects/favorite_button', locals: { project: @project } %>
</div>

<h3>Statistics</h3>
<ul>
  <li><strong>Unique Views:</strong> <%= @project.unique_view_count %></li>
  <li><strong>Favorites:</strong> <%= @project.favorite_count %></li>
</ul>

<h3>Files</h3>
<ul>
  <% @project.project_files.each do |file| %>
    <li>
      <%= link_to file.file_identifier, show_file_project_path(@project, file_id: file.id) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-secondary" %>
<%= link_to 'Back to Projects', projects_path, class: "btn btn-primary" %>
<%= link_to 'Create File', new_file_project_path(@project), class: "btn btn-success" %>

<h2>Snippets</h2>
<ul>
  <% @project.project_files.each do |file| %>
    <% file.snippets.each do |snippet| %>
      <li>
        <%= link_to snippet.content.truncate(50), project_project_file_snippet_path(@project, file, snippet) %>
      </li>
    <% end %>
  <% end %>
</ul>
<%= link_to 'View Commit Logs', commit_logs_project_path(@project), class: 'btn btn-primary' %>
