<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "CodePeer Review" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'flash', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ld66CwqAAAAANYIsBtGugIN0C9QtbpekQg9bjL2"></script>  
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
</head>

<body class="font-Inter bg-gray-900 text-gray-300">
  <div class="min-h-screen flex flex-col">
    <%= render 'layouts/navbar' %>

    <!-- Flash messages -->
    <%= render 'layouts/flash' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>

  <script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
      var menu = document.getElementById('mobile-menu');
      menu.classList.toggle('hidden');
    });
  </script>
</body>
</html>

<%= javascript_pack_tag 'flash_messages' %>
